<div class="row">
  <div class="d-flex justify-content-start">
    <div class="left">
      <img src="{{user.image}}" style="width:250px;">
    </div>
    <div class="right ml-4">
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>

      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    </div>
  </div>
</div>